<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;margin-top: 12%;">Check our our wireless plans</h1>
            <div class="col" style="text-align: center; margin-bottom: 6%;">
                <div class="btn-group" style="margin-top: 3%;" >
                    <a href="#" class="btn btn-primary active" aria-current="page">Active link</a>
                    <a href="#" class="btn btn-primary" aria-current="page">Active link</a>
                    <!-- <a href="#" class="btn btn-primary">Link</a> -->
                    <!-- <a href="#" class="btn btn-primary">Link</a> -->
                  </div>
            </div> 
        </div>
        <div>
            <h3 style="text-align: center;">We are a team driven to deliver ultimate customer service experience</h3>
            <h5 style="text-align: center;margin-bottom: 5%;">Expect highest quality at all time</h5>
        </div>
    </div>

    <div class="row" style="background-color: cornflowerblue">
        <div class="col">
            <div class="row" style="margin-bottom: 1%;margin-top: 1%;">
                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img src="https://media.licdn.com/dms/image/C4E0BAQEYDIjdmbR3NA/company-logo_200_200/0?e=2159024400&v=beta&t=_QS2020wYv6DTDZrKy8nqn3Dd5EcVnDQOi8lnlZurK4" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title" style="color:green">UNLIMITEDSTARTER</h4>
                            <h5 class="card-title">$85/month</h5>
                          <p class="card-text">Here is what you get for enrolling in this plan</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">1 Line</li>
                          <li class="list-group-item">First month free</li>
                          <li class="list-group-item">3G network</li>
                          <li class="list-group-item">Free International Call</li>
                          <li class="list-group-item">15 Channels on Roku</li>
                          <li class="list-group-item">Unlimited Talk and Data</li>
                        </ul>
                       
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img src="https://media.licdn.com/dms/image/C4E0BAQEYDIjdmbR3NA/company-logo_200_200/0?e=2159024400&v=beta&t=_QS2020wYv6DTDZrKy8nqn3Dd5EcVnDQOi8lnlZurK4" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title" style="color:dodgerblue">UNLIMITEDEXTRA</h4>
                          <h5 class="card-title">$95/month</h5>
                          <p class="card-text">Here is what you get for enrolling in this plan</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">3 Lines</li>
                          <li class="list-group-item">First Month Free</li>
                          <li class="list-group-item">5G Network</li>
                          <li class="list-group-item">Free International Call</li>
                          <li class="list-group-item">50 Channels on Roku</li>
                          <li class="list-group-item">Unlimited Talk and Data</li>
                        </ul>
                       
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img src="https://media.licdn.com/dms/image/C4E0BAQEYDIjdmbR3NA/company-logo_200_200/0?e=2159024400&v=beta&t=_QS2020wYv6DTDZrKy8nqn3Dd5EcVnDQOi8lnlZurK4" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title" style="color:darkorchid">UNLIMITEDELITE</h4>
                           <h5 class="card-title">$110/month</h5>
                          <p class="card-text">Here is what you get for enrolling in this plan</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">5 Lines</li>
                          <li class="list-group-item">First Month Free</li>
                          <li class="list-group-item">6G Network</li>
                          <li class="list-group-item">Free International Call</li>
                          <li class="list-group-item">150 Channels on Roku</li>
                          <li class="list-group-item">Unlimited Talk and Data</li>
                        </ul>
                       
                      </div>
                </div>
              </div>
        </div>
    </div>
<div class="col" style="margin-top: 2%; text-align: center;">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger" >Get Started</button>
      </div>

</div>
  

</div>


