

<div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" =width"100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
        <img src="https://motorolaus.vtexassets.com/assets/vtex.file-manager-graphql/images/f879642d-b1a1-4d69-b043-be7654fb3d3a___e948d4f9da3ec2f1ea7ada709e9be634.jpg" wideth="100%" height="100%"class="bd-placeholder-img" />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>KENNY NEW ARRIVAL</h1>
            <p>New technology at your finger tips</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
        <img src="https://cdn.vox-cdn.com/thumbor/VhkcO4raREzH4chnbejAaD_6XNc=/0x0:2040x1360/1200x0/filters:focal(0x0:2040x1360):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22248903/vpavic_210119_4377_0153.jpg" wideth="20%" height="180%"class="bd-placeholder-img" />

        <div class="container">
          <div class="carousel-caption">
            <h1>ABDULAHI CONCEPT</h1>
            <p>Let's rule the world with new ideas.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
        <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-77c9/k2-_65b4abd6-974b-45af-9102-e584ff8c88c9.v1.jpg?odnWidth=1360&odnHeight=410&odnBg=ffffff" wideth="100%" height="100%"class="bd-placeholder-img" />

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>SKILLSTORM TECH</h1>
            <p>Providing the best technology solution</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>