<app-nav></app-nav>
<!-- <div class="container-fluid"> -->
  <!-- <div class="row">
    <div class="col">
      <app-header></app-header>
      <router-outlet></router-outlet>

    </div>
  </div>

</div> 
<div class="container">

  <div class="row">
    <div class="col">
      <app-body></app-body>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-productlist></app-productlist>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-cart></app-cart>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
